<section id="contact">
    <h5>Get In Touch</h5>
    <h2>Contact Me</h2>
    <div class="container contact_container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact_options">

            
            <article class="contact_option">
              <img src ="" class="research_img"/>
              
              <h4>Email</h4>
              <h5>Sakhele666@gmail.com</h5>
              <a href="sakhele666@gmail.com">Send a message</a>
            </article>
         
            
        </div>
  
        </div>
       
      </div>
        
      
    </div>
  
  
  </section>