<section id="contact">
    <h5>My recent research</h5>
    <h2>Developement Research</h2>
    <div class="container contact_container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact_options">

            
            <article *ngFor="let r of research" class="contact_option">
              <img src ="" class="research_img"/>
            
              <h4></h4>
              <p></p>
              <br/>
              <p></p>
              <br/>
              <p></p>

            </article>
         
            
        </div>
  
        </div>
       
      </div>
    </div>
  
  
  </section>