<section id="contact">
  <h5>Get In Touch</h5>
  <h2>Contact Me</h2>
  <div class="container contact_container">
    <div class="row">
      <div class="col-md-6">
        <div class="contact_options">
          <article class="contact_option">
            <i class="fa fa-envelope"></i>
            <h4>Email</h4>
            <h5>Sakhele666@gmail.com</h5>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=sakhele666@gmail.com">Send a message</a>
          </article>
          <article class="contact_option">
            <i class="fa fa-comment"></i>
              <h4>Messenger</h4>
              <h5>Sakhele Mndaweni</h5>
              <a href="http://m.me/sakhele666@gmail.com">Send a message</a>
            </article>
            <article class="contact_option">
              <h4>WhatsApp</h4>
              <h5>076 647 6953</h5>
              <a href="https://wa.me/0766476953">Send a message</a>
            </article>
          <br/>
      </div>

      </div>
      <div class="col-md-6">
          
        <form>
          <input [(ngModel)]="name" type="text" name="name" placeholder="Your full Name">
          <input [(ngModel)]="email" type="email" name="email" placeholder="Email" >
          <textarea [(ngModel)]="message" type="text" name="message" id=""  rows="7"></textarea>
          <small>{{res}}</small>
          <button  type="submit" class="btn">Send message</button>

        </form>

      </div>
    </div>
      
    
  </div>


</section>