
<section id="projects">
    
     <h5>My Recent Work</h5>
     <h2>Projects</h2>
    <div  *ngFor="let p of projects" class="container project_container">
        
        
            
                    <article class="project_item">
                        <div class="project_item-image">
                            <img src="" alt="Project Image">
                        </div>
                        <h3><small></small></h3>
                        <p><small></small></p>
                        <p><small></small></p>
                        <div class ="project_item-cta">
                        <a href="" class="btn">Visit</a>
                        
                        </div>
                    </article>

          
    </div>


</section>

