<div id= "login-container" class = "card-container">
    <form>
        
        <div class = "card-container">
        <h1 class="log">Login</h1>
        <br/>
        <br/>
        <input placeholder="email" type ="text" name="email" formControlName="Email"/>
        <input placeholder="password" type ="password" name="email" formControlName="Email"/>
        </div>
        <br/>
        <div class = "card-container">
           <div routerLink ="/Admin_sakhele" id="movecard" class="card card-small"  tabindex="0">
    
              <span>login</span>
           </div>
          
        </div>
        <br/>
    </form>

</div>
<br/>
<br/>
<hr class="line"/>


<div class="openSpace"></div>



