<div class="card-container">
    <div class="card card-small" routerLink= "/Education" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
      <span>Qualifications</span>
      
    </div>

    <div routerLink= "/home" class="card card-small"  tabindex="0">
      <span>home</span>
    </div>

    <div  class="card card-small" routerLink= "/Contacts" tabindex="0">
      <span>Contacts</span>
    </div>

</div> 
<h1>About</h1>
<p>This information is about Sakhele Mndaweni as a Software developer</p>
<hr/>
<div class="information-container">
  <div class="image-container"  tabindex="0">

    <span></span>
  </div>
</div>

<h3>Experience  and  programming skills</h3>
<hr/>
<div class="information-container">
  <div class="image-container2"  tabindex="0">

    <span></span>
  </div>
  <div class="image-container2"  tabindex="0">

    <span></span>
  </div>
  <div class="image-container2"  tabindex="0">

    <span></span>
  </div>
  <div class="image-container2"  tabindex="0">

    <span></span>
  </div>
  <div class="image-container2"  tabindex="0">

    <span></span>
  </div>
  <div class="image-container2"  tabindex="0">

    <span></span>
  </div>
</div>
<div class="card-container">
  <div class="programmingi-infor">
    <h5>Information</h5>
  </div>
</div>

<div class="information-container"></div>
<div class="card-container">
    <div  class="card card-small" routerLink= "/Contacts" tabindex="0">
        <span>Request cv</span>
    </div>
</div>
