<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!--/.Navbar-->

<nav>
  <a (click)="gohome()"><i class="fa fa-home" aria-hidden="true"></i></a>
  
  <a (click)="goAbout()"><i class="fa fa-user" aria-hidden="true"></i></a>
  <a (click)="goExperience()"><i class="fa fa-code" aria-hidden="true"></i></a>
  <a (click)="goService()"><i class="fa fa-cogs" aria-hidden="true"></i></a>
  <a (click)="goProjects()"><i class="fa fa-file-code" aria-hidden="true"></i></a>
  <a (click)="goContacts()"><i class="fa fa-phone" aria-hidden="true"></i></a>

  <a (click)="goChat()"><i class="fa fa-comment" aria-hidden="true"></i></a>

</nav>

<main class="container">

  
  <!-- Highlight Card -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>

  

  <!-- Resources -->
  

</main>


