<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!--/.Navbar-->

<nav>
  <a (click)="gohome()"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
   </a>
  
  <a (click)="goAbout()"><mat-icon>portrait</mat-icon></a>
  
  <a (click)="goExperience()"><mat-icon>work_outline</mat-icon></a>
  <a (click)="goService()"><mat-icon>code</mat-icon></a>
  <a (click)="goProjects()"><mat-icon> insert_drive_file</mat-icon></a>
  <a (click)="goContacts()"><mat-icon>perm_phone_msg</mat-icon></a>
</nav>

<main class="container">

  
  <!-- Highlight Card -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>

  

  <!-- Resources -->
  

</main>



<app-nextjob></app-nextjob>