
<div class="side-nav">
    <div class="side-nav-inner">
        <br/>
        <p class="card">handle orders</p>
        <p class="card">Order stock</p>
        <p class="card">create specials</p>
        <p class="card">finace analysis</p>
        <p class="card">stock recommendation</p>
        <p class="card">customer analysis</p>
    </div>
    
    <div class="side-nav-inner2">
        <br/>
        <p class="card">Store information</p>
        <p class="card">Rattings</p>
        <p class="card">Perfomance</p>
    </div>
    <h1>00:00:00</h1>
    <hr/>
</div>
    
    <div class="inforBlock">
       <h2>Store name</h2>
    </div>
    
       
    
    
    <div class="space"></div>
    