
<section id="experience">
    <h5>Skills</h5>
    <h2>My Experience</h2>
    <div class="container experience_container">
     <div class="experience_frontend">
         <h3>Frontend Developer</h3>
         <div class="experience_content">
             <article class="experience_details">
                 <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
               
                <div>

                <h4>HTML</h4> 
                <small class="text-gray">Experienced</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
              
               <div>

               <h4>CSS</h4> 
               <small class="text-gray">Experienced</small>
               </div>
           </article>
           <article class="experience_details">
            <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
          
           <div>

           <h4>JavaScript</h4> 
           <small class="text-gray">Experienced</small>
           </div>
       </article>
       <article class="experience_details">
        <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
      
       <div>

       <h4>React Native</h4> 
       <small class="text-gray">Experienced</small>
       </div>
   </article>
   <article class="experience_details">
        <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
    
    <div>

    <h4>Angular</h4> 
    <small class="text-gray">Experienced</small>
    </div>
    </article>

         </div>

     </div>
     <div class="experience_backend">
         <h3>Backend Developer</h3>
         <div class="experience_content">
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>Python</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>Django Framework</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>Django REST</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>C#</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>MVC Framework</h4> 
                <small class="text-gray">Experienced</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>C++</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>Code blocs</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>Java</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>Spring Framework</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>NetBeans</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>eclipse</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>

            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>Visual Basic</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>Assembly language x86</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>
            <article class="experience_details">
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div>
                <h4>Git</h4> 
                <small class="text-gray">Proficient</small>
                </div>
            </article>

             
         </div>

     </div>
     <div class="experience_backend">
        <h3>Software Design</h3>
        <div class="experience_content">
           <article class="experience_details">
            <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
               <div>
               <h4>UML</h4> 
               <small class="text-gray">Proficient</small>
               </div>
           </article>
           <article class="experience_details">
            <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
               <div>
               <h4>UMLet</h4> 
               <small class="text-gray">Experienced</small>
               </div>
           </article>
           <article class="experience_details">
            <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
               <div>
               <h4>Dia</h4> 
               <small class="text-gray">Proficient</small>
               </div>
           </article>
           
            
        </div>

    </div>

    </div>
    
</section>