<section id="service">
    <h5>What i Offer</h5>
    <h2>Services</h2>
    <div class="container service_container">
        <article class="service">
            <div class="service_head">
    
              <h3>Software Design</h3>
            </div>
            <ul class="service_list">
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Requirement extraction</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Requirement analysts</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Software Architectural design</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p> Proficient with UML (unified modelling language) for software modelling</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p> Comprehend multiple SDLC (Software development Life Cycle) models such as Waterfall model, V model, Incremental model, Agile model Iterative model
                  Spiral model and Prototype model
                </p>
               </li>

            </ul>
        </article>
        <article class="service">
            <div class="service_head">
              <h3>Software developement</h3>
 
            </div>
            <ul class="service_list">
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Full stack Web application development using Django framework</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>API development with Django REST framework and python for the business logic </p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Single page applications and front end development using Angular framework</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Mobile application development with java, using Android studio</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Mobile application development with JavaScript, using React native</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Mobile application development with Typescript, using Flutter</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Desktop application development using C++ and Code blocks IDE</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Desktop application development using Java, Eclipse IDE or NetBeans IDE</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Proficient with OpenCv for computer vision </p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Proficient with Git hub for software version control and application deployment</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>
                  Streamlit for Machin learning application development and deployment </p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Web application development using C#, MVC(Model View Controller) and visual studio</p>
               </li>

            </ul>
        </article>
        <article class="service">
            <div class="service_head">
              <h3>Agent developement</h3>
            </div>
            <ul class="service_list">
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Machine learning models for image recognition, image classification, data prediction, and behaviour analysis</p>
               </li>
               <li>
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Artificial intelligent agent development, Agents such as the reflex agent, the learning based agent, the logical agent , autonomous agent using search algorithms, knowledge based agent  using logic for knowledge representation</p>
               </li>
               <li>
           
                <span class="experience_details-icon" ><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <p>Developing Neural Networks models , because traditional machine learning algorithms are not efficient when it comes to data with multiple dimensions </p>
               </li>

            </ul>
        </article>
    </div>



</section>
