<footer>
    <img class="footer_logo"src="assets/images/logo2.png" alt=""/>  
    <ul class="permalinks">
        <li><a (click)="gohome()">Home</a></li>
        <li><a (click)="goAbout()">About</a></li>
        <li><a (click)="goProjects()">Projects</a></li>
        <li><a (click)="goContacts()">Contacts</a></li>

    </ul>
    <div class="footer_socials">
        <a href=""></a>
        <a href=""></a>
        <a  href="https://linkedin.com/in/sakhele-mndaweni-7b1b211a0" target="blank"></a>
        <a href=""></a>

    </div>
    <div class="footer_copyright" >
        <small>
            &copy; Sakhele George Mndaweni 2022
        </small>

    </div>


</footer>